<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Veteran Ready</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">
		<link href="/styles/custom.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!--Google Font - Hind Sans Serif font library-->
        <link href='https://fonts.googleapis.com/css?family=Hind:300,700' rel='stylesheet' type='text/css'>

	</head>
	<body>
		<div id="header">
			<div class="container">
				<div role="navigation" class="navbar navbar-default" style="background-color:#f5f5f5;">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<div class="media">
							  <div class="media-left media-middle">
						      <img src="https://res.cloudinary.com/dnar4muay/image/upload/v1451384104/nhcrzobtdy3pmkrizglh.png" class="media-object" width= "200" height="105" alt="Veteran Ready Logo" style="margin-bottom:15px; margin-right:15px;">
							  </div>
							  <div class="media-body" style="padding-top:11px;">
									<br>
							    <p class="media-heading visible-xs-block visible-sm-block visible-md-block visible-lg-inline" style="color:#003057; font-size:2vw; margin-right:4px;"><b>Building Veteran Strong</b></p>
									<p class="media-heading visible-xs-block visible-sm-block visible-md-block visible-lg-inline" style="color:#003057; font-size:2vw;"><b>Communities in Nevada</b></p>
							  </div>
							</div>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-left">
									{{# each navLinks}}
									<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
										<a href="{{ href }}"><b>{{ label }}</b></a>
									</li>
								{{/each}}
							</ul>
							<ul class="nav navbar-nav navbar-right">
								{{#if user}}
								<li><a href="/keystone/signout"><b>Sign Out</b></a></li>
								{{else}}
								<li><a href="/keystone/signin"><b>Sign In</b></a></li>
								{{/if}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<div class="container">
			<div id="footer">
				<h4><b>Veteran Ready</b>: Building veteran-strong communities through training, collaboration and progressive thinking.</h4>
				<h4>© 2015 by Veteran Ready.</h4>
				<div style="margin-bottom:10px;">
					<a href="https://www.facebook.com/VeteranReadyNV"><img src="Facebook.ico" alt="Facebook icon"></a>
					<a href="https://www.linkedin.com/in/annieemprima"><img src="Linkedin.ico" alt="LinkedIn icon"></a>
					<a href="https://twitter.com/VeteranReady"><img src="Twitter.ico"  alt="Twitter icon"></a>
				</div>
				<p>Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.</p>
			</div>
		</div>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
