{{!< default}}
<div class="container">
  <div class="jumbotron">
    <div class="container text-center" style="margin-top:-35px; margin-bottom:-30px">
	  <h2 class="text-center">Showing {{data.agency.length}} Community Partners</h2>
    </div>
  </div>
</div>
<div class="container">
	<div class="main">
        <div class="row">
            <ul class="gallery-items">
                {{#each data.agency}}
                <li class="gallery-item">
                    <div class="gallery-contents">
                        <div class="thumbnail gallery-trigger">
                            <h4 class="text-center">{{topic}}</h4>
                            <div class="caption">
                                {{#if contactPhoto}}
                                <img src="{{cloudinaryUrl contactPhoto width='125' height='125' crop='fit'}}" alt="{{contactName}}" />
                                {{/if}}
                                <h3 class="contact-name">{{contactName}}</h3>
                                <h4 >{{contactTitle}}</h4>
                                <div class="title text-center">{{name}}</div>
                            </div>
                        </div>
                        <div class="title"></div>
                    </div>
                    <div class="gallery-expander">
                        <div class="gallery-expander-contents">
                            <div class="gallery-trigger-close close">close</div>
                            <h2 class="text-center">{{name}}</h2>
                            <h3 class="text-center" style="padding-bottom:2%;"><a target="_blank" href="{{website}}">{{website}}</a></h3>
                            <ul class="list-inline" style="padding-bottom:3%;">
                              {{#if facebook}}
                                <li><a target="_blank" href="{{facebook}}"><img src="Facebook.ico" alt="Facebook icon"></a></li>
                              {{/if}}
                              {{#if linkedin}}
                                <li><a target="_blank" href="{{linkedin}}"><img src="Linkedin.ico" alt="LinkedIn icon"></a></li>
                              {{/if}}
                              {{#if twitter}}
                                <li><a target="_blank" href="{{twitter}}"><img src="Twitter.ico" alt="Twitter icon"></a></li>
                              {{/if}}
                              {{#if googlePlus}}
                                <li><a target="_blank" href="{{googlePlus}}"><img src="GooglePlus.png" alt="Google Plus icon"></a></li>
                              {{/if}}
                              {{#if instagram}}
                                <li><a target="_blank" href="{{instagram}}"><img src="Instagram.png" alt="Instagram icon"></a></li>
                              {{/if}}
                              {{#if youtube}}
                                <li><a target="_blank" href="{{youtube}}"><img src="Youtube.png" alt="YouTube icon"></a></li>
                              {{/if}}
                              {{#if wordpress}}
                                <li><a target="_blank" href="{{wordpress}}"><img src="Wordpress.png" alt="WordPress icon"></a></li>
                              {{/if}}
                            </ul>
                            <p>{{summary}}</p>
                            <p>{{description}}</p>
                            <div class="row">
                              <div class="col-md-6" style="padding:3%;">
                                {{#if video}}
                                <div class="responsiveIframe">
                                  <iframe src="{{video}}" allowfullscreen></iframe>
                                </div>
                                {{/if}}
                              </div>
                              <div class="col-md-6" style="padding:3%;">
                                {{#if logo}}
                                  <img src="{{cloudinaryUrl logo width='500' height='325' crop='fit'}}" class="img-responsive" alt="{{name}}">
                                {{/if}}
                              </div>
                            </div> <!-- /row -->
                            <div class="contents text-center">
                              <h3 style="padding-bottom:1%;">Contact Information:</h3>
                              <p style="padding-bottom:1%;"><a href="mailto:{{email}}">{{email}}</a></p>
                              <p>{{address.name}}</p>
                              <p>{{address.number}}</p>
                              <p>{{address.street1}} {{address.street2}}</p>
                              <p>{{address.suburb}} {{address.state}} {{address.postcode}}</p>
                              <p>{{phone}}</p>
                            </div>
                        </div> <!-- /gallery-expander-contents -->
                    </div> <!-- /gallery-expander -->
                </li>
                {{/each}}
            </ul>
        </div><!-- /row -->
	</div><!-- /main -->
</div><!-- /container -->
