{{!< default}}
<div class="container">
  <div class="jumbotron">
    <div class="container text-center" style="margin-top:-35px; margin-bottom:-30px">
		<h2 class="text-center">Showing {{data.agency.length}} Community Partners</h2>
    </div>
  </div>
</div>
<div class="container">
    <ul id="og-grid" class="og-grid">
    {{#each data.agency}}
    <li>
        <a href="{{website}}" data-largesrc="{{cloudinaryUrl contactPhoto width='400'}}" data-title="{{name}}" data-description="{{summary}}">
            <img src="{{cloudinaryUrl logo width='200'}}" class="img-responsive" alt="{{name}}"/>
        </a>
        <div class="og-expander">
            <div class="og-expander-inner">
                <span class="og-close"></span>
                <div class="og-fullimg">
                    <div class="og-loading"></div>
                    <img src="images/1.jpg">
                </div>
            </div>
        </div>
    </li>
    {{/each}}
    </ul>
<!-- Grid setup with demo content and no handlebars
    <ul id="og-grid" class="og-grid">
        <li>
            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                <img src="images/thumbs/1.jpg" alt="img01"/>
            </a>
            <div class="og-expander">
                <div class="og-expander-inner">
                    <span class="og-close"></span>
                    <div class="og-fullimg">
                        <div class="og-loading"></div>
                        <img src="images/1.jpg">
                    </div>
                    <div class="og-details">
                        <h3>Azuki Bean</h3>
                        <p>Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.</p>
                        <a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                <img src="images/thumbs/2.jpg" alt="img02"/>
            </a>
            <div class="og-expander">
                <div class="og-expander-inner">
                    <span class="og-close"></span>
                    <div class="og-fullimg">
                        <div class="og-loading"></div>
                        <img src="images/2.jpg">
                    </div>
                    <div class="og-details">
                        <h3>Veggies sunt bona vobis</h3>
        				<p>Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.</p>
        				<a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                <img src="images/thumbs/3.jpg" alt="img03"/>
            </a>
            <div class="og-expander">
                <div class="og-expander-inner">
                    <span class="og-close"></span>
                    <div class="og-fullimg">
                        <div class="og-loading"></div>
                        <img src="images/3.jpg">
                    </div>
                    <div class="og-details">
                        <h3>Dandelion Horseradish</h3>
                        <p>Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.</p>
                        <a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                <img src="images/thumbs/1.jpg" alt="img01"/>
            </a>
            <div class="og-expander">
                <div class="og-expander-inner">
                    <span class="og-close"></span>
                    <div class="og-fullimg">
                        <div class="og-loading"></div>
                        <img src="images/1.jpg">
                    </div>
                    <div class="og-details">
                        <h3>Azuki Bean</h3>
                        <p>Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.</p>
                        <a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                <img src="images/thumbs/2.jpg" alt="img02"/>
            </a>
            <div class="og-expander">
                <div class="og-expander-inner">
                    <span class="og-close"></span>
                    <div class="og-fullimg">
                        <div class="og-loading"></div>
                        <img src="images/2.jpg">
                    </div>
                    <div class="og-details">
                        <h3>Veggies sunt bona vobis</h3>
        				<p>Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.</p>
        				<a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                <img src="images/thumbs/3.jpg" alt="img03"/>
            </a>
            <div class="og-expander">
                <div class="og-expander-inner">
                    <span class="og-close"></span>
                    <div class="og-fullimg">
                        <div class="og-loading"></div>
                        <img src="images/3.jpg">
                    </div>
                    <div class="og-details">
                        <h3>Dandelion Horseradish</h3>
                        <p>Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.</p>
                        <a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                <img src="images/thumbs/1.jpg" alt="img01"/>
            </a>
            <div class="og-expander">
                <div class="og-expander-inner">
                    <span class="og-close"></span>
                    <div class="og-fullimg">
                        <div class="og-loading"></div>
                        <img src="images/1.jpg">
                    </div>
                    <div class="og-details">
                        <h3>Azuki Bean</h3>
                        <p>Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.</p>
                        <a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                <img src="images/thumbs/2.jpg" alt="img02"/>
            </a>
            <div class="og-expander">
                <div class="og-expander-inner">
                    <span class="og-close"></span>
                    <div class="og-fullimg">
                        <div class="og-loading"></div>
                        <img src="images/2.jpg">
                    </div>
                    <div class="og-details">
                        <h3>Veggies sunt bona vobis</h3>
        				<p>Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.</p>
        				<a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                <img src="images/thumbs/3.jpg" alt="img03"/>
            </a>
            <div class="og-expander">
                <div class="og-expander-inner">
                    <span class="og-close"></span>
                    <div class="og-fullimg">
                        <div class="og-loading"></div>
                        <img src="images/3.jpg">
                    </div>
                    <div class="og-details">
                        <h3>Dandelion Horseradish</h3>
                        <p>Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.</p>
                        <a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                <img src="images/thumbs/1.jpg" alt="img01"/>
            </a>
            <div class="og-expander">
                <div class="og-expander-inner">
                    <span class="og-close"></span>
                    <div class="og-fullimg">
                        <div class="og-loading"></div>
                        <img src="images/1.jpg">
                    </div>
                    <div class="og-details">
                        <h3>Azuki Bean</h3>
                        <p>Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.</p>
                        <a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                <img src="images/thumbs/2.jpg" alt="img02"/>
            </a>
            <div class="og-expander">
                <div class="og-expander-inner">
                    <span class="og-close"></span>
                    <div class="og-fullimg">
                        <div class="og-loading"></div>
                        <img src="images/2.jpg">
                    </div>
                    <div class="og-details">
                        <h3>Veggies sunt bona vobis</h3>
        				<p>Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.</p>
        				<a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                <img src="images/thumbs/3.jpg" alt="img03"/>
            </a>
            <div class="og-expander">
                <div class="og-expander-inner">
                    <span class="og-close"></span>
                    <div class="og-fullimg">
                        <div class="og-loading"></div>
                        <img src="images/3.jpg">
                    </div>
                    <div class="og-details">
                        <h3>Dandelion Horseradish</h3>
                        <p>Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.</p>
                        <a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                <img src="images/thumbs/1.jpg" alt="img01"/>
            </a>
            <div class="og-expander">
                <div class="og-expander-inner">
                    <span class="og-close"></span>
                    <div class="og-fullimg">
                        <div class="og-loading"></div>
                        <img src="images/1.jpg">
                    </div>
                    <div class="og-details">
                        <h3>Azuki Bean</h3>
                        <p>Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.</p>
                        <a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                <img src="images/thumbs/2.jpg" alt="img02"/>
            </a>
            <div class="og-expander">
                <div class="og-expander-inner">
                    <span class="og-close"></span>
                    <div class="og-fullimg">
                        <div class="og-loading"></div>
                        <img src="images/2.jpg">
                    </div>
                    <div class="og-details">
                        <h3>Veggies sunt bona vobis</h3>
        				<p>Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.</p>
        				<a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                <img src="images/thumbs/3.jpg" alt="img03"/>
            </a>
            <div class="og-expander">
                <div class="og-expander-inner">
                    <span class="og-close"></span>
                    <div class="og-fullimg">
                        <div class="og-loading"></div>
                        <img src="images/3.jpg">
                    </div>
                    <div class="og-details">
                        <h3>Dandelion Horseradish</h3>
                        <p>Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.</p>
                        <a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
-->
</div>
<script src="/js/jquery/jquery-1.11.3.min.js"></script>
<script src="js/grid.js"></script>
<script>
    $(function() {
        Grid.init();
    });
</script>


<!-- Original code is below

<div class="container">
	<h1>Blog</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4>
			<div class="blog">
				{{# each data.posts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
					<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</p>
					<p>{{{content.extended}}}</p>
					<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm-4 col-md-3">
			<h2>Categories</h2>
			<div style="margin-top: 70px;" class="list-group">
				<a href="/blog" class="active list-group-item">All Categories</a>
				{{# each data.categories }}
				<a href="{{categoryUrl key}}" class="false list-group-item">{{name}}</a>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
-->
