<div class="container">
  <div class="jumbotron">
    <div class="container text-center" style="margin-top:-35px; margin-bottom:-30px">
	  <h2 class="text-center">Showing {{data.agency.length}} Community Partners</h2>
    </div>
  </div>
</div>
<div class="superbox text-center">
	{{#each data.agency}}
		<div class="superbox-list">
            <h3 style="margin-bottom:1vw;">{{name}}</h3>
            <div class="thumbnail" style="height:320px; width=200px;">
			    <img src="{{cloudinaryUrl logo width='160'}}" data-img="{{cloudinaryUrl contactPhoto width='400'}}" alt={{name}}"" class="superbox-img">
            </div>
		</div>
	{{/each}}
</div>
<div style="height:50px;"></div>
