{{!< default}}
<div class="container">
	<div class="jumbotron">
		<div class="container text-center" style="margin-top:-35px; margin-bottom:-30px">
			<h2 style="text-align:center;">Contact Us</h2>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="jumbotron">
				{{#if enquirySubmitted}}
				<h3>Thanks for getting in touch.</h3>
				{{else}}
				<form method="post">
					<input type="hidden" name="action" value="contact">
					<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
						<label><h4>Your Name</h4></label>
						<input type="text" name="name.full" class="form-control" value="{{formData.[name.full]}}">
					</div>
					<div class="form-group {{#if validationErrors.group}}has-error{{/if}}">
						<label><h4>I am...</h4></label>
						<select name="group" class="form-control">
							<option value="">(select one)</option>
							<option value="veteran">An Individual Veteran</option>
							<option value="representative">Representing a Business or Organization</option>
						</select>
					</div>
					<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
						<label><h4>Your Email Address</h4></label>
						<input type="email" name="email" class="form-control" value="{{formData.email}}">
					</div>
					<div class="form-group {{#if validationErrors.phone}}has-error{{/if}}">
						<label><h4>Your Phone Number</h4></label>
						<input type="text" name="phone" placeholder="Please include area code" class="form-control" value="{{formData.phone}}">
					</div>
					<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
						<label><h4>What are you contacting us about?</h4></label>
						<select name="enquiryType" class="form-control">
							<option value="">(select one)</option>
							{{#each enquiryTypes}}
							<option value="{{value}}">{{label}}</option>
							{{/each}}
						</select>
					</div>
					<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
						<label><h4>Message</h4></label>
						<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-lg btn-primary center-block" style="margin-top:50px;">Send</button>
					</div>
				</form>
				{{/if}}
		  </div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="text-center">Let's Talk!</h2>
				</div>
				<div class="panel-body">
					<img src="/images/businesspeople.svg" class="img-responsive center-block" width="400" alt="Business People">
					<div class="jumbotron" style="margin-top:10px; padding-top:10px; padding-bottom:15px;">
						<h3><b>Veteran Ready</b></h3>
						<br>
			      <h4>1445 American Pacific Dr. Ste 110-128</h4>
			      <h4>Henderson, NV 89074</h4>
						<br>
			      <h4>LetsTalk@veteranready.com</h4>
						<br>
			      <h4>(725) 696-1838</h4>
			      <h4>(702) 427-0515</h4>
					</div>
					<div class="row text-center" style="margin-bottom:11px;">
						<a href="https://www.facebook.com/VeteranReadyNV"><img src="Facebook.ico" alt="Facebook icon"></a>
						<a href="https://www.linkedin.com/in/annieemprima"><img src="Linkedin.ico" alt="LinkedIn icon"></a>
						<a href="https://twitter.com/VeteranReady"><img src="Twitter.ico"  alt="Twitter icon"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
