{{!< default}}
<style>
    .thumbnail {
        width: 100%;
        height: 450px;
        overflow: auto;
    }
    .thumbnail img {
        margin-top: 1em;
    }
    .center-content {
        margin: auto;
        padding: 2%;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        text-align: center;
    }
    .bottom-align {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -60px;
        width: 120px;
        margin-bottom: 1em;
    }
</style>
<div class="container">
  <div class="jumbotron">
    <div class="container text-center" style="margin-top:-35px; margin-bottom:-30px">
	  <h2 class="text-center">Showing {{data.agency.length}} Community Partners</h2>
    </div>
  </div>
</div>
<div class="container">
	<div class="main">
        <div class="row">
            <ul class="gallery-items">
              <li class="gallery-item">
                <div class="gallery-contents">
                  <div class="thumbnail gallery-trigger"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/1.jpg" alt="" /></div>
                  <div class="title">Gallery Item</div>
                </div>
                <div class="gallery-expander">
                  <div class="gallery-expander-contents">
                    <div class="gallery-trigger-close close">x</div>
                    <div class="col">
                      <div class="image"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/1.jpg" alt="" /></div>
                    </div>
                    <div class="col">
                      <div class="title">Gallery Item</div>
                      <div class="contents"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="gallery-item">
                <div class="gallery-contents">
                  <div class="thumbnail gallery-trigger"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/2.jpg" alt="" /></div>
                  <div class="title">Gallery Item</div>
                </div>
                <div class="gallery-expander">
                  <div class="gallery-expander-contents">
                    <div class="gallery-trigger-close close">x</div>
                    <div class="col">
                      <div class="image"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/2.jpg" alt="" /></div>
                    </div>
                    <div class="col">
                      <div class="title">Gallery Item</div>
                      <div class="contents"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="gallery-item">
                <div class="gallery-contents">
                  <div class="thumbnail gallery-trigger"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/3.jpg" alt="" /></div>
                  <div class="title">Gallery Item</div>
                </div>
                <div class="gallery-expander">
                  <div class="gallery-expander-contents">
                    <div class="gallery-trigger-close close">x</div>
                    <div class="col">
                      <div class="image"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/3.jpg" alt="" /></div>
                    </div>
                    <div class="col">
                      <div class="title">Gallery Item</div>
                      <div class="contents"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="gallery-item">
                <div class="gallery-contents">
                  <div class="thumbnail gallery-trigger"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/4.jpg" alt="" /></div>
                  <div class="title">Gallery Item</div>
                </div>
                <div class="gallery-expander">
                  <div class="gallery-expander-contents">
                    <div class="gallery-trigger-close close">x</div>
                    <div class="col">
                      <div class="image"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/4.jpg" alt="" /></div>
                    </div>
                    <div class="col">
                      <div class="title">Gallery Item</div>
                      <div class="contents"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="gallery-item">
                <div class="gallery-contents">
                  <div class="thumbnail gallery-trigger"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/5.jpg" alt="" /></div>
                  <div class="title">Gallery Item</div>
                </div>
                <div class="gallery-expander">
                  <div class="gallery-expander-contents">
                    <div class="gallery-trigger-close close">x</div>
                    <div class="col">
                      <div class="image"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/5.jpg" alt="" /></div>
                    </div>
                    <div class="col">
                      <div class="title">Gallery Item</div>
                      <div class="contents"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="gallery-item">
                <div class="gallery-contents">
                  <div class="thumbnail gallery-trigger"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/6.jpg" alt="" /></div>
                  <div class="title">Gallery Item</div>
                </div>
                <div class="gallery-expander">
                  <div class="gallery-expander-contents">
                    <div class="gallery-trigger-close close">x</div>
                    <div class="col">
                      <div class="image"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/6.jpg" alt="" /></div>
                    </div>
                    <div class="col">
                      <div class="title">Gallery Item</div>
                      <div class="contents"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="gallery-item">
                <div class="gallery-contents">
                  <div class="thumbnail gallery-trigger"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/7.jpg" alt="" /></div>
                  <div class="title">Gallery Item</div>
                </div>
                <div class="gallery-expander">
                  <div class="gallery-expander-contents">
                    <div class="gallery-trigger-close close">x</div>
                    <div class="col">
                      <div class="image"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/7.jpg" alt="" /></div>
                    </div>
                    <div class="col">
                      <div class="title">Gallery Item</div>
                      <div class="contents"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="gallery-item">
                <div class="gallery-contents">
                  <div class="thumbnail gallery-trigger"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/8.jpg" alt="" /></div>
                  <div class="title">Gallery Item</div>
                </div>
                <div class="gallery-expander">
                  <div class="gallery-expander-contents">
                    <div class="gallery-trigger-close close">x</div>
                    <div class="col">
                      <div class="image"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/8.jpg" alt="" /></div>
                    </div>
                    <div class="col">
                      <div class="title">Gallery Item</div>
                      <div class="contents"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="gallery-item">
                <div class="gallery-contents">
                  <div class="thumbnail gallery-trigger"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/9.jpg" alt="" /></div>
                  <div class="title">Gallery Item</div>
                </div>
                <div class="gallery-expander">
                  <div class="gallery-expander-contents">
                    <div class="gallery-trigger-close close">x</div>
                    <div class="col">
                      <div class="image"><img src="Thumbnail-Grid-with-Expanding-Image-Preview-Using-jQuery/example/9.jpg" alt="" /></div>
                    </div>
                    <div class="col">
                      <div class="title">Gallery Item</div>
                      <div class="contents"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
        </div><!-- /row -->
    </div><!-- /main -->
</div><!-- /container -->
<div class="container">
	<div class="main">
        <div class="row">
            <ul class="gallery-items">
                {{#each data.agency}}
                <li class="gallery-item">
                    <div class="gallery-contents">
                        <div class="thumbnail gallery-trigger">
                            <h4 class="text-center">{{topic}}</h4>
                            <div class="caption">
                                {{#if contactPhoto}}
                                <img src="{{cloudinaryUrl contactPhoto width='125' height='125' crop='fit'}}" alt="{{contactName}}" />
                                {{/if}}
                                <h3 class="contact-name">{{contactName}}</h3>
                                <h4 >{{contactTitle}}</h4>
                                <div class="title text-center">{{name}}</div>
                            </div>
                        </div>
                        <div class="title"></div>
                    </div>
                    <div class="gallery-expander">
                        <div class="gallery-expander-contents">
                            <div class="gallery-trigger-close close">close</div>
                            <h2 class="text-center">{{name}}</h2>
                            <h3 class="text-center" style="padding-bottom:2%;"><a target="_blank" href="{{website}}">{{website}}</a></h3>
                            <ul class="list-inline" style="padding-bottom:3%;">
                              {{#if facebook}}
                                <li><a target="_blank" href="{{facebook}}"><img src="Facebook.ico" alt="Facebook icon"></a></li>
                              {{/if}}
                              {{#if linkedin}}
                                <li><a target="_blank" href="{{linkedin}}"><img src="Linkedin.ico" alt="LinkedIn icon"></a></li>
                              {{/if}}
                              {{#if twitter}}
                                <li><a target="_blank" href="{{twitter}}"><img src="Twitter.ico" alt="Twitter icon"></a></li>
                              {{/if}}
                              {{#if googlePlus}}
                                <li><a target="_blank" href="{{googlePlus}}"><img src="GooglePlus.png" alt="Google Plus icon"></a></li>
                              {{/if}}
                              {{#if instagram}}
                                <li><a target="_blank" href="{{instagram}}"><img src="Instagram.png" alt="Instagram icon"></a></li>
                              {{/if}}
                              {{#if youtube}}
                                <li><a target="_blank" href="{{youtube}}"><img src="Youtube.png" alt="YouTube icon"></a></li>
                              {{/if}}
                              {{#if wordpress}}
                                <li><a target="_blank" href="{{wordpress}}"><img src="Wordpress.png" alt="WordPress icon"></a></li>
                              {{/if}}
                            </ul>
                            <p>{{summary}}</p>
                            <p>{{description}}</p>
                            <div class="row">
                              <div class="col-md-6" style="padding:3%;">
                                {{#if video}}
                                <div class="responsiveIframe">
                                  <iframe src="{{video}}" allowfullscreen></iframe>
                                </div>
                                {{/if}}
                              </div>
                              <div class="col-md-6" style="padding:3%;">
                                {{#if logo}}
                                  <img src="{{cloudinaryUrl logo width='500' height='325' crop='fit'}}" class="img-responsive" alt="{{name}}">
                                {{/if}}
                              </div>
                            </div> <!-- /row -->
                        </div> <!-- /gallery-expander-contents -->
                    </div> <!-- /gallery-expander -->
                </li>
                {{/each}}
            </ul>
        </div><!-- /row -->
	</div><!-- /main -->
</div><!-- /container -->
